body {
	font-family: 'Great Vibes', cursive;
	font-family: 'Open Sans', sans-serif;
}
col-md-6 {
  width: 50%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

h1 {
	text-align: center;
	color: #ffffff;
	font-weight:bold;
	font-family: 'Great Vibes', cursive;
}

.imagen{
    width: 50%;
}

.carousel-indicators {
  top: 50px;
}

.carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  align-content: left;
}
